/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 11 мар. 2022 г., 12:23:10
    Author     : senya
*/

h3{
/*    background: #000040;
    color: #8080ff;
    text-align:center;*/
}
td input{
    width: 150px;
}